body {
	background-repeat: no-repeat;
	background-size: cover;
	height: 90vh;
	width: 97vw;
	padding: 0;
    margin: 0;
}

.borda {
	outline-style: groove;
	outline-width: 1px;
	outline-color: black;
	background-color: #e7e7e79f;
}

#color{
	width: 80px;
}

#tela {
	border: 1px solid black;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	image-rendering: -moz-crisp-edges;
	width: 400px;
	height: 400px;
}

.pagina {
	margin-top: 3rem;
	width: 300px;
	background-color: white;
}

.connect-form {
	flex-direction: column;
	padding: 16px 8px;
}

.connect-form > *:not(:first-child) {
	margin-top: 4px;
	width: 100%;
}

#jogo {
	padding: 32px;
}


.placar {
	padding-left: 
	margin-top: 32px;
	flex-direction: column;
	align-self: stretch;
	width: 250px;
	overflow: hidden;
	padding: 10px;
}

.placar > *:not(:first-child) {
	margin-top: 4px;
	width: 100%;
}

.pontuacao {
	flex-direction: row;
	align-items: center;
}

.cor {
	display: inline-block;
	min-width: 16px;
	min-height: 16px;
	margin: 0 4px;
}

.titulo {
	font-size: large;
	font-weight: bold;
	padding-bottom: 8px;
	text-align: center;
}

.espaco {
	padding-top: 0.5rem;
}

#btnT{
	width: 150px;
}
#nickname {
	padding: 10px;
}

.box {
	width: 1.4rem;
	height: 1.9rem;
	color: black;
	background-color: lightgray;
	border: none;
}

.btn {
	font-weight: bold;
	font-size: 15px;
	padding: 5px 10px;
	transition: 600ms;
	width: 150px
}

.btn:hover {
	background-color: #0000001f;
	cursor: pointer;
}


#rightD{
	margin-left: 500px;
	margin-top: -400px;
}

#leftD{
	width: 400px;
	background-color: blue;
}
